@CHARSET "UTF-8";
.validation-red{
	color:red !important;
}
.validation-blue{
	color:blue !important;
}
.validation-green{
	color:green !important;
}
.search.form-group {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
}